@font-face {
  font-family: "LiberationSans";
  src: url(../fonts/LiberationSans.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "LiberationSans", "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header .navBar {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5647058824);
}
.header .navBar.fixed {
  top: 0;
}

@media (min-width: 1921px) {
  .header {
    width: 1920px;
    margin: 0 auto;
  }
  .header .headerTop {
    width: 100%;
    height: 40px;
    padding: 15px 18px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .headerTop .langList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .header .headerTop .langList .langItem button {
    color: #bcbcbc;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  .header .headerTop .langList .langItem button:hover {
    color: #fff;
  }
  .header .headerTop .searchBox input {
    border: 1px solid transparent;
    outline: none;
    color: #bcbcbc;
  }
  .header .headerTop .searchBox button {
    color: #bcbcbc;
    transition: all 0.3s ease;
  }
  .header .headerTop .searchBox button:hover {
    color: #fff;
  }
  .header .navBar {
    width: 1920px;
  }
  .header .navBar .container {
    width: 1680px;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .navBar .container .navList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  .header .navBar .container .navList .navItem a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
  }
  .header .navBar .container .title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header .navBar .container .title a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .navBar .container .title a span {
    color: #fff;
  }
  .header .navBar .container .menuList {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
  .header .navBar .container .menuList .menuItem a {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
  }
}
.hero {
  max-width: 1920px;
  height: 1040px;
  margin: 0 auto;
}

@media (min-width: 1921px) {
  .hero {
    width: 1920px;
    height: 1040px;
    margin: 0 auto;
  }
  .hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -270px;
  }
}
.space {
  width: 1920px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.space .sectionTitle {
  font-size: 60px;
  font-weight: 500;
  color: #1e1e1e;
}
.space .details {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.space .details span {
  display: inline-block;
  font-size: 12px;
  color: #1e1e1e;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.space .details span.line {
  width: 80px;
  height: 1px;
  background-color: #1e1e1e;
}

.borocco {
  max-width: 1920px;
  height: 1080px;
  margin: 0 auto;
  position: relative;
}
.borocco img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.borocco a {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  transition: all 0.3s ease;
}
.borocco a .boroccoTitle {
  font-size: 60px;
  letter-spacing: 2px;
  color: #fff;
}
.borocco a .desc {
  margin-top: 10px;
  font-size: 22px;
  letter-spacing: 1px;
  color: #fff;
}
.borocco a:hover .boroccoTitle {
  color: #1e1e1e;
}
.borocco a:hover .desc {
  color: #1e1e1e;
}