// h1
h1{
    display: none;
}


// container
.container{
    width: 1920px;
    margin: 0 auto;
}

@media (max-width: 1920px){
    .container{
        width: 1440px;
    }
}

@media (max-width: 1440px){
    .container{
        width: 1024px;
    }
}

@media (max-width: 1024px){
    .container{
        width: 100%;
    }
}

// @media (max-width: 768px){
//     .container{
//         width: 390px;
//     }
// }

// @media (max-width: 390px){
//     .container{
//         width: 100%;
//     }
// }