.header {
    width: 100%;
    background-color: #1e1e1e;

    .headerTop {
        width: 100%;

        .container {
            height: 40px;
            padding: 15px 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .langList {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;
            }

            .searchBox {
                input {
                    padding: 2px 5px;
                    outline: none;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    color: #1e1e1e;
                    letter-spacing: 1.5px;
                }
            }
        }

    }

    .navBar {
        width: 100%;
        background-color: #00000030;

        .container {
            padding: 40px 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.fixed {
                top: 0;
            }

            .navList {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                .navItem {
                    a {
                        padding: 8px 10px;
                        border-radius: 5px;
                        font-weight: 600;
                        color: #fff;
                        letter-spacing: 2px;
                        transition: all .3s ease;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            .logo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                user-select: none;
                cursor: pointer;

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span {
                        color: #fff;
                    }
                }
            }

            .menuList {
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 5px;

                .menuItem {
                    a {
                        padding: 8px 10px;
                        border-radius: 5px;
                        font-weight: 600;
                        color: #fff;
                        letter-spacing: 2px;
                        transition: all .3s ease;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            .barIcon {
                display: none;
            }

            .xMarkIcon {
                display: none;
            }
        }
    }
}