.header {
    width: 100%;
    background-color: #1e1e1e;

    .headerTop {
        width: 100%;

        .container {
            height: 40px;
            padding: 15px 18px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .langList {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 15px;

                .langItem {
                    .headerTopBtns {
                        padding: 2px 4px;
                        color: #bcbcbc;
                        background-color: transparent;
                        border: 1px solid transparent;
                        border-radius: 3px;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: all .3s ease;

                        &:hover {
                            background-color: #bcbcbc;
                            color: #1e1e1e;
                            border-color: #bcbcbc;
                        }
                    }
                }
            }

            .searchBox {
                input {
                    padding: 2px 5px;
                    outline: none;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    color: #1e1e1e;
                    letter-spacing: 1.5px;
                }

                .inputBtn {
                    padding: 2px 4px;
                    color: #bcbcbc;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all .3s ease;

                    &:hover {
                        background-color: #bcbcbc;
                        color: #1e1e1e;
                        border-color: #bcbcbc;
                    }
                }
            }
        }

    }

    .navBar {
        width: 100%;
        background-color: #00000030;

        .container {
            padding: 40px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.fixed {
                top: 0;
            }

            .navList {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;

                .navItem {
                    a {
                        padding: 8px 10px;
                        border-radius: 5px;
                        font-weight: 600;
                        color: #fff;
                        letter-spacing: 2px;
                        transition: all .3s ease;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            .menuList {
                align-self: flex-end;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 5px;

                .menuItem {
                    a {
                        padding: 8px 10px;
                        border-radius: 5px;
                        font-weight: 600;
                        color: #fff;
                        letter-spacing: 2px;
                        transition: all .3s ease;

                        &:hover {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }

            .barIcon {
                background-color: transparent;
                border: none;
                color: #fff;
                font-size: 24px;
                cursor: pointer;
                display: none;
            }
        }
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        right: 0;
        background-color: #1e1e1e;
        width: 0;
        height: 100vh;
        padding: 30px;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        transition: all .3s ease;
        display: none;

        &.active {
            width: 400px;
            opacity: 1;
            visibility: visible;
        }

        .closeBtn {
            width: 100%;
            padding: 5px;
            border: 1px solid #bcbcbc;
            border-radius: 5px;
            background-color: transparent;
            font-weight: 600;
            letter-spacing: 3px;
            color: #bcbcbc;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                background-color: #bcbcbc;
                color: #1e1e1e;
            }
        }

        .mobileSearchBox {
            padding-left: 8px;

            input {
                padding: 2px 5px;
                outline: none;
                border: 1px solid transparent;
                border-radius: 3px;
                color: #1e1e1e;
                letter-spacing: 1.5px;
            }

            button {
                padding: 2px 4px;
                color: #bcbcbc;
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 3px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    background-color: #bcbcbc;
                    color: #1e1e1e;
                    border-color: #bcbcbc;
                }
            }
        }

        .mobileMenuList {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 15px;

            .mobileMenuItem {
                a {
                    color: #fff;
                    padding: 8px 10px;
                    border-radius: 5px;
                    font-weight: 600;
                    color: #fff;
                    letter-spacing: 2px;
                    transition: all .3s ease;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }

        .mobileLangList {
            position: absolute;
            bottom: 30px;
            left: 30px;
            padding-left: 8px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            display: none;

            .mobileLangItem {
                button {
                    padding: 2px 4px;
                    color: #bcbcbc;
                    background-color: transparent;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all .3s ease;

                    &:hover {
                        background-color: #bcbcbc;
                        color: #1e1e1e;
                        border-color: #bcbcbc;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        .navBar {
            .container {
                justify-content: flex-end;
                padding: 20px 30px;

                .navList {
                    display: none;
                }

                .menuList {
                    display: none;
                }

                .barIcon {
                    display: block;
                }
            }
        }

        .mobileMenu {
            display: flex;
        }
    }
}

@media (max-width: 550px) {
    .header {
        .mobileMenu {
            .mobileLangList {
                display: block;
            }
        }
    }
}

@media (max-width: 425px) {
    .header {
        .mobileMenu {
            &.active {
                width: 100%;
            }
        }
    }
}