.baroque {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    a {
        display: inline-block;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 60px;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, 0);
        color: #fff;
        transition: all .3s ease;

        .baroqueTitle {
            font-size: 60px;
            letter-spacing: 2px;
            color: #fff;
        }

        .desc {
            margin-top: 10px;
            font-size: 22px;
            letter-spacing: 1px;
            color: #fff;
        }

        &:hover {
            .baroqueTitle {
                color: #1e1e1e;
            }

            .desc {
                color: #1e1e1e;
            }
        }
    }
}