.hero {
    width: 100%;
    height: 1040px;

    .container {
        height: 100%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}